body{
  font-family: 'Space Mono', monospace;
  background-color: #E1E8F2;
  COLOR: #542A2A;
  padding: 15px;
  text-align: center;
}

h1, h2, h3{
  font-family: 'Space Mono', monospace;
  color: #0A97DE;
  padding: 0;
}

p{
  margin: 25px;
}

li{
  display: inline;
}

ul{
  padding: 0;
}

a{
  text-decoration: none;
  color: #8c168c;
  font-size: 18px;
  font-weight: bold;
}

a:hover{
  color: #8c1652;
  transition: 0.3s ease;
}

#profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card{
  background-color: #ffff;
  padding: 7px;
  margin: 15px;
  border-radius: 7px;
  border: 1px solid #EAEAEA
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
  body {
    padding: 10px;
  }

  #profile-pic {
    width: 150px;
    height: 150px;
  }
  .card {
    width: 90%;
    margin: 10px auto;
  }

  a {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  body {
    padding: 5px;
  }

  #profile-pic {
    width: 120px;
    height: 120px;
  }
  .card {
    width: 95%;
    margin: 5px auto;
  }

  a {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    padding: 5px;
    font-size: 15px;
  }

  #profile-pic {
    width: 100px;
    height: 100px;
  }
  .card {
    width: 100%;
    margin: 5px 0;
  }

  a {
    font-size: 12px;
  }
}
